<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title" />
    </div>
    <p>{{ post.content }}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        DELETE
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalPosts"
  [pageSize]="postsPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
  *ngIf="posts.length > 0"
></mat-paginator>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0 && !isLoading">
  No posts added yet!
</p>

<!--<ng-container *ngIf="(getAllPosts$ | async) as result;" [ngSwitch]="result.state">
    <ng-container *ngSwitchCase="ContentState.LOADING">
        <mat-spinner></mat-spinner>
    </ng-container>
    <ng-container *ngSwitchCase="ContentState.ERROR">
        Failed to load page: {{result.error}}.
    </ng-container>
    <ng-container *ngSwitchCase="ContentState.LOADED">
        <p>{{result | json}}</p>
    </ng-container>
</ng-container>-->

<!--<mat-progress-bar *ngIf="(isLoading$ | async)" mode="indeterminate">
</mat-progress-bar>
<div *ngIf="(error$ | async) as error">Error: {{error.message}</div>
<ng-container *ngIf="(posts$ | async) as posts">
    <p>{{ posts | json }}</p>
</ng-container>-->
